@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template: 60px 1fr 40px / 1fr;
  justify-content: center;
  align-items: start;
  background-color: #e5d0cc62;
}
header,
footer {
  background-color: #444554;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  color: white;
  font-family: "Bebas Neue", cursive;
}
footer {
  font-size: 0.8rem;
  color: white;
  text-align: center;
}
footer a {
  color: rgba(255, 255, 255, 0.445);
}

/* main */
main {
  display: grid;
  place-items: center;
  margin-top: 40px;
}
main h2 {
  margin-bottom: 10px;
  text-align: center;
}
main h3 {
  margin-bottom: 30px;
  text-align: center;
}
main input {
  text-align: center;
  height: 30px;
  outline: none;
  font-weight: 600;
  font-size: 1rem;
}
.err {
  color: rgb(243, 82, 82);
  font-size: 0.8rem;
  margin-right: 90px;
}
.submission {
  display: flex;
}
#submit-guess {
  background-color: #444554;
  color: white;
  font-weight: 600;
  border: none;
  width: 90px;
  margin-left: 3px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
}
/* player table */
.table__content > *,
.table__top {
  display: grid;
  grid-template: 1fr / 200px 100px 100px 100px 100px 100px;
}
.table__content {
  margin-bottom: 40px;
}
.table__row > *:first-child {
  font-weight: 600;
}
.table__top {
  text-align: center;
  border-bottom: 2px solid #e5d0cc;
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #444554;
}

.table__content .table__cell:not(.table__cell:last-child) {
  border-right: 1px solid rgb(255, 255, 255);
}
.table__content .table__cell {
  text-align: center;
  align-self: center;
  height: 100%;
  display: grid;
  place-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) -60%,
    rgba(68, 69, 84, 0.1) 50%,
    rgba(68, 69, 84, 0.1) 150%
  );
}
.table__row > .table__cell:not(.table__cell:nth-child(2)) {
  padding: 20px 10px;
}
.table__row > .table__cell:nth-child(2) {
  display: grid;
  place-content: center;
}
.green {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) -60%,
    rgba(77, 235, 73, 0.6619690112373074) 50%,
    rgba(77, 235, 73, 0.6619690112373074) 100%
  ) !important;
}
.arrow {
  display: block;
}
/* modal */
#sticky > * {
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px;
}
#sticky button {
  background-color: #444554e0;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
#sticky button:hover {
  background-color: #44455473;
}

@media (max-width: 785px) {
  .table__row {
    grid-template: 40px 1fr / 100px 100px 100px 100px 100px;
  }
  .table__top {
    grid-template: 1fr / 100px 100px 100px 100px 100px;
  }
  .table__top > *:first-child {
    display: none;
  }
  .table__row > *:first-child {
    grid-area: 1 / 1 / 2 / -1;
    justify-content: start;
    align-content: center;
    background: none;
    background-color: rgba(255, 255, 255, 0.274);
  }
}
@media (max-width: 510px) {
  .table__row {
    grid-template: 40px 1fr / 70px 70px 70px 70px 70px;
  }
  .table__top {
    grid-template: 1fr / 70px 70px 70px 70px 70px;
    font-size: 0.79rem;
    font-weight: 600;
    color: #444554;
  }
  .table__row > .table__cell:not(.table__cell:nth-child(2)) {
    padding: 5px;
  }
  .table__row > .table__cell:nth-child(4) {
    padding: 0px !important;
    font-size: 0.9rem;
  }
}

/* auto complete */

.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items > *:not(*:nth-child(-n + 8)) {
  display: none;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #444554 !important;
  color: #ffffff;
}
